{% extends "base.twig" %}

{% block content %}
    
	<h2 class="headline center_title">{{post.title}}</h2>
    <div class="main-container" id="middle">
        <div class="main width-container clearfix" id="post-{{post.ID}}">         
            
			<!-- onecolumn -->
			<div class="onecolumn-container clearfix"> 				
				
				<div class="content-pages-show-basic-wide onecolumn-inner-container">
					<!-- _breadcrumbs.html -->

					<!-- /_breadcrumbs.html -->
					{%if page_sub_title != ''%}
						<h2 class="headline" style="margin-top: 12px;">{{ page_sub_title }}</h2>
					{%endif%}
					<div id="content">
						<div id="intro" class="intro">
							<div class="text-content">
								{{post.content}}
								<p><span style="text-decoration: underline;"><strong>{{team_title}}</strong></span></p>
							</div>
							<!-- team -->
							<div class="team_section_about team_s">
								{% for team_get in team %}
								
									<div class="team_detail">
										<div class="team_title_img">
											<div><strong><span class="il">{{team_get.user_name}}</span></strong></div>
											<p><img src="{{team_get.user_image}}" alt=""></p>
										</div>
										<div class="team_des_detail">
											<div><strong><span class="il">{{team_get.user_position}}</span></strong></div>
											{{team_get.description}}
										</div>
									</div> 
								  
								{% endfor %}
							
							</div>
							
							<!-- board -->
							<div class="team_section_about board_s">
							    <p><span style="text-decoration: underline;"><strong>{{board_title}}</strong></span></p>
								{% for board_get in board %}
								
									<div class="team_detail">
										<div class="team_title_img">
											<div><strong><span class="il">{{board_get.board_user_name}}</span></strong></div>
											<p><img src="{{board_get.board_user_image}}" alt=""></p>
										</div>
										<div class="team_des_detail">
											<div><strong><span class="il">{{board_get.board_user_position}}</span></strong></div>
											{{board_get.board_description}}
										</div>
									</div> 
								  
								{% endfor %}
							
							</div>
							
							<div class="funded_detail">
								{{funded_detail}}
							    
								<ul>
								   {% for logo_get in logo %}
										<li>
									    {%if logo_get.logo_link !=""%}
											<a href="{{logo_get.logo_link}}">
												<img src="{{logo_get.logo_image}}" alt="">
											</a>
											{%else%}
												<img src="{{logo_get.logo_image}}" alt="">
										{%endif%}
										</li>
								   {% endfor %}
								</ul>
								
								
							</div>
							
							
						</div>
						<div class="like-page">								

						</div>						
					
					</div> <!-- end_page_content -->
				</div>
				
				
    
			</div><!-- end onecolumn -->
		</div>
	</div>
	
	
	
	
	<!--<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" >
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div>-->
{% endblock %}