	<div class="row-fluid" id="top-footer-row">
	</div>
	<div class="row-fluid" id="bottom-footer-row">
		<div class="width-container footer_w_custo">
		
		  <div class="footer_logo_i">
			<a href="/">
				{% if footer_logo !=""%}
					{{footer_logo}}
				{%else%}	
					<img id="logo" src="{{ site.theme.link }}/images/footer_logo.png" alt="" />
				{%endif%}	
			</a>
		</div>
		
		  {{footer_widget}}
		  
		  
		<div class="card_via_images_credit">
			{% if footer-donation-logo !=""%}
					{{footer-donation-logo}}
				{%else%}	
					<img id="logo" src="{{ site.theme.link }}/images/amandla_donation_logos.png" alt="" />
			{%endif%}
		</div>
		  
		  
		<!--	<div class="footer_logo_i">
				<a href="/"><img id="logo" src="https://amandla.local/app/uploads/2019/08/footer_logo.png" alt=""></a>
			</div>
			<div class="footer_text">
				<p>amandla.mobi is an independent, community advocacy organisation that seeks to build a more just and people-powered Mzansi. We're working to turn every cell phone into a democracy building tool so that no matter where you live; what language you speak or what issue you care about, you can take action with others.</p>
			</div>
			<p class="last_footer_copy_text">© 2019 amandla.mobi South Africa. All rights reserved | <a href="/privacy-policy/">Privacy Policy</a> | <a href="/terms-conditions/">Terms &amp; Conditions</a> | Created with <a href="https://nationbuilder.com/">NationBuilder</a> | By <a rel="noopener" href="https://www.socialbenchers.com/" target="_blank">Social Benchers</a></p>
			<div class="card_via_images_credit">
				<p>Bank card donations are processed via</p>
				<img src="https://amandla.local/app/uploads/2019/08/amandla_donation_logos.png">
			</div> -->
		</div>
	</div>

	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


 <!--{{"now"|date('Y')}}-->







	